<div class="tumblr-1 facebook" 
     style="width: <%= width %>%;
            height: <%= height %>%;
            top: <%= top %>%;
            background-color: <%= define_colors %>;
            left: <%= left %>%;
            border-color: <%= define_colors %>;
            background-image: url('<%= current.photo if current.message == "Not available" %>');
            ">
  <div class="row">
    <div class="col-xs-12">
      <div class="author" style="color: white;"><%= current.author.truncate(20) %></div>
      <div class="date" style= "color: white;"><%= time_ago_in_words current.date %></div>
    </div>
    <div class="col-xs-12">
      <div class="message" style= "color: white;"><%= current.message.truncate(50) if current.message != "Not available" %></div>
    </div>
  </div>
</div>
