<div class="tumblr-1" style="position:absolute; background-color: <%= ["red", "orange", "blue", "green"].sample %>; width: <%= width %>%; height: <%= height %>%; top: <%= top %>%; left: <%= left %>%;"></div>
